.movie_details_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 22px;
        text-align: center;
    }
}
img{
    max-width: 600px;
    aspect-ratio: 1 / 1;
    width:80%;
    object-fit: contain;
    display: block;
    margin: 10px auto;

}


main{
    margin: 30px 30px;
}